{% extends "rest_framework/base.html" %}

{% block branding %}
<a class="navbar-brand" rel="nofollow" href="{% url 'index' %}">
    CryptoToken Converter REST API
</a>
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="text-center" style="margin-top: 10%">
        <hr/>
        <p style="color: #a5a5a5; font-size: 14px;">
            This Web API is running a fork from <a href="https://github.com/Privex/cryptotoken-converter" target="_blank">CryptoToken
            Converter</a> managed by <a href="https://steemit.com/@marcosdk" target="_blank">@marcosdk</a> Steem Witness.
            <br/>
        </p>
        <br/><br/>
    </div>
{% endblock %}